---
layout: default
title: Dinosaurs
---

<div class="grid">
	<div class="unit units-s-1 unit-m-1-2 unit-l-1-3">
		<h1>Dinosaurs</h1>
	</div>

	<div class="unit units-s-1 unit-m-1-2 unit-l-2-3">
		<p class="giga"> All dinosaur species that ever existed!</p>
	</div>
</div>

<ul>
	{% for dino in site.pages %}
		{% if dino.category == 'dinosaur' %}
		<li>
			<a href="{{site.baseurl}}{{dino.url}}">
				<img src="{{site.baseurl}}/images/{{dino.image}}" alt="">
				{{dino.name}}
			</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>