<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Dino 'R' Us</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/embed.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
 </head>
 <body>

 	<header class="masthead island push-0">
	  <div class="grid grid-bottom">
	    <div class="unit unit-s-1 unit-m-1 unit-l-1-3">
	      <h1 class="push-0"><img class="img-flex logo" src="{{site.baseurl}}/images/dinos-r-us.svg" alt="Dinosaurs"></h1>
	    </div>
	    <nav class="unit unit-s-1 unit-m-1 unit-l-2-3">
	      <ul class="list-group giga brand-family push-0 nav">
	        <li class="list-group-item list-group-item-inline">
	          <a href="{{site.baseurl}}">Home</a>
	        </li>
	        <li class="list-group-item list-group-item-inline">
	          <a href="{{site.baseurl}}/dinosaurs/">Dinosaurs</a>
	        </li>
	        <li class="list-group-item list-group-item-inline">
	          <a href="{{site.baseurl}}/about/">About</a>
	        </li>
	      </ul>
	    </nav>
	  </div>
	</header>

 	{{content}}

	<footer class="footer pad-t">
	  <div class="grid">
	    <div class="unit unit-s-1 unit-m-1 unit-l-1-2 gutter-1-2">
	      <p class="footer-copyright"><small>© 2014 Dinos ’R’ Us</small></p>
	    </div>
	    <div class="unit unit-s-1 unit-m-1 unit-l-1-2 gutter-1-2">
	      <ul class="list-group footer-links">
	        <li class="list-group-item list-group-item-inline">
	          <a href="#" class="icon-link icon i-16 i-facebook ir">Facebook</a>
	        </li>
	        <li class="list-group-item list-group-item-inline">
	          <a href="#" class="icon-link icon i-16 i-twitter ir">Twitter</a>
	        </li>
	        <li class="list-group-item list-group-item-inline">
	          <a href="#" class="icon-link icon i-16 i-googleplus ir">Google+</a>
	        </li>
	        <li class="list-group-item list-group-item-inline">
	          <a href="#" class="icon-link icon i-16 i-pinterest ir">Pinterest</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</footer>

 </body>
 </html>